!! URxvt

!! General Settings
URxvt.intensityStyles:	false
URxvt.depth:		32
URxvt.scrollBar:	false
URxvt.cursorColor:	magenta
URxvt.iso14755: false
URxvt.iso14755_52: false


/* !! Fonts */
#define font1         FantasqueSansMono Nerd Font
#define font2         FantasqueSansMono Nerd Font
#define font3         DejaVu Sans Mono Nerd Font
#define font4         Noto Sans Mono CJK JP

! /* #define font1           Sans */
! /* #define font2           Sans */
! /* #define font3           Sans */
! /* #define font4           Sans */


URxvt.xftAntialias:     true
URxvt*letterSpace: 0
URxvt*font:           xft:font1:pixelsize=18, xft:font2:pixelsize=16:minspace=false, xft:font3:pixelsize=16,xft:font4:pixelsize=16
URxvt*boldFont:       xft:font1:bold:pixelsize=18, xft:font2:pixelsize=16:minspace=False,xft:font3:pixelsize=16,xft:font4:pixelsize=16
URxvt*italicFont:     xft:font1:italic:pixelsize=18, xft:font2:pixelsize=16:minspace=False,xft:font3:pixelsize=16,xft:font4:pixelsize=16
URxvt*boldItalicFont: xft:font1:bold:italic:pixelsize=18, xft:font2:pixelsize=16:minspace=False, xft:font3:pixelsize=16, xft:font4:pixelsize=16


!! Extensions
! Disable perl extensions
URxvt*perl-ext:
URxvt*perl-ext-common:

!! Colors
*background: #090a18
*foreground: #b4abac
*cursorColor: #b4abac
*cursorColor2: #090a18
*color0: #090a18
*color1: #ff778a
*color2: #6ab539
*color3: #bfa01a
*color4: #4aaed3
*color5: #e58a82
*color6: #29b3bb
*color7: #a59ebd
*color8: #260e22
*color9: #f78e2f
*color10: #60ba80
*color11: #de9b1d
*color12: #8ba7ea
*color13: #e08bd6
*color14: #2cbab6
*color15: #b4abac

