!! URxvt

!! General Settings
URxvt.intensityStyles:	false
URxvt.depth:		32
URxvt.scrollBar:	false
URxvt.cursorColor:	magenta
URxvt.iso14755: false
URxvt.iso14755_52: false


/* !! Fonts */
#define font1         FantasqueSansMono Nerd Font
#define font2         FantasqueSansMono Nerd Font
#define font3         DejaVu Sans Mono Nerd Font
#define font4         Noto Sans Mono CJK JP

! /* #define font1           Sans */
! /* #define font2           Sans */
! /* #define font3           Sans */
! /* #define font4           Sans */


URxvt.xftAntialias:     true
URxvt*letterSpace: 0
URxvt*font:           xft:font1:pixelsize=18, xft:font2:pixelsize=16:minspace=false, xft:font3:pixelsize=16,xft:font4:pixelsize=16
URxvt*boldFont:       xft:font1:bold:pixelsize=18, xft:font2:pixelsize=16:minspace=False,xft:font3:pixelsize=16,xft:font4:pixelsize=16
URxvt*italicFont:     xft:font1:italic:pixelsize=18, xft:font2:pixelsize=16:minspace=False,xft:font3:pixelsize=16,xft:font4:pixelsize=16
URxvt*boldItalicFont: xft:font1:bold:italic:pixelsize=18, xft:font2:pixelsize=16:minspace=False, xft:font3:pixelsize=16, xft:font4:pixelsize=16


!! Extensions
! Disable perl extensions
URxvt*perl-ext:
URxvt*perl-ext-common:

!! Colors
! Gruvbox Dark color scheme
*background: #323234
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2
